html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* общие стили для всех страниц */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-background-color: #f5f4fa;
  --background-color: #ffffff;
  --second-text-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* стили скрытого заголовка */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* стиль для линков */
.link {
  text-decoration: none;
  color: var(--title-text-color);
}

/* стили для списков */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

/* логотип WebStudio*/
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-web {
  color: #2196f3;
}
/* .logo .link { */
/* } */
/* стили для хедера----header */

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navig {
  display: flex;
}

/* site-navig */
.site-navig {
  display: flex;
}

.site-item .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-navig :hover,
.site-navig :focus {
  color: var(--accent-color);
}

.site-item:not(:last-child) {
  margin-right: 50px;
}
.auth-navig {
  display: flex;
  margin-left: auto;
}
.auth-navig .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;

  /* background-color: rgba(218, 233, 16, 0.918); */
}
.auth-item:not(:last-child) {
  margin-right: 50px;
}
.auth-navig .link:hover,
.auth-navig .link:focus {
  color: var(--accent-color);
}
.site-navig .link.current {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  /* background-color: rgba(234, 188, 243, 0.6); */
}

/* стили для main страницы студио */

/* hero */
.hero {
  background-color: #2f303a;
  color: var(--second-text-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* outline: 1px solid black; */
}
.hero-title {
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  min-width: 696px;
}
/* кнопка заказать услугу */
.button-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
  color: var(--second-text-color);
}
/* -----OVERLYA----- */
/* .overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/fon-hero.jpg);
  outline: 1px solid black;
} */
/* sections */

.sections-feature,
.sections-work,
.sections-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}
.feature-item {
  width: 270px;
  margin-right: 30px;
}
.feature-item:last-child {
  margin-right: 0;
}
/* -----ИКОНКИ ПЕРЕД СЕКЦИЕЙ ПРЕИМУЩЕСТВА */
.feature-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url("../images/antenna.png");
}
.icon-clock::before {
  background-image: url("../images/clock.png");
}

.icon-diagram::before {
  background-image: url("../images/diagram.png");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.png");
}

/* заголовки второго уровня */
.sections-title-second {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* заголовки в  секции особенности */
.sections-title-feature {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-item p {
  margin-top: 10px;
}
/* секция чем мы занимаемся */
.sections-work {
  padding-top: 0;
}
.work-list {
  display: flex;
}
.work-item {
  width: 370px;
  margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}

.sections-team {
  background-color: var(--second-background-color);
}
.team-list {
  display: flex;
  /* justify-content: space-between; */
}

/* подзаголовки под фото секции наша комаанда  */
.team-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sections-title-team {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-footer p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-card {
  width: 270px;
  background-color: var(--background-color);
  border-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.team-card:last-child {
  margin-right: 0;
}

/* футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* логотип ф футере */
.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

/* адресс ссылка  */
address {
  font-style: normal;
  margin-top: 20px;
}
.adress-link {
  display: block;
  color: var(--second-background-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
/* ауторизация в футере */
.footer-navig {
  margin-top: 9px;
}
.footer-navig-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.footer-navig .link:hover,
.footer-navig .link:focus {
  color: var(--accent-color);
}

/* стили для страницы портфолио */
/* секция меню */
.sections-title {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item button {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.filters-item button:hover,
.filters-item button:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
/* .filters-item .current {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */
.filters-item {
  border-radius: 4px;
  background-color: var(--second-background-color);
}

.filters-button .filters-item + .filters-item {
  margin-left: 8px;
}

/* секция проекты студии */

.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-footer p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.project-footer {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
